<nav class="navbar navber-expand-lg navbar-dark fixed-top">
    <div class="container">
                <h1>Welcome to My website</h1>
                <h2>By Adarsh Bhagat</h2>
                <p>This is my first task of internship of web development given by Devtern.</p>
                <button type="button" class="btn"><a href="/login">Login</a></button><br>
                <button type="button" class="btn"><a href="/register">Register</a></button>
        </div>
</nav>